<!doctype html>
<html>
<head>
    <title>HologramExample</title>
    <link rel=stylesheet href="../assets/styleguide.css" type="text/css">
    <link rel=stylesheet href="../assets/application.css" type="text/css">
    <link rel=javascript href="../assets/application.js" type="text/javascript">
</head>
<header class="header pbn" role="banner">
    <div class="backgroundHighlight typeReversed1">
        <div class="container">
            <h1 class="h2 mvs">My Styleguide</h1>
        </div>
    </div>
    <div class="backgroundLowlight typeReversed1">
        <div class="container">
              <span>
                <ul class="docNav listInline">
                    <% for c in categories %>
                    <li><a href="/styleguide/<%= c[0] %>.html"><%= c[0] %></a></li>
                    <% end %>
                </ul>
              </span>
        </div>
    </div>
</header>
<div class="content">
    <section>
        <div class="line">
            <div class="col cols4">
                <div class="componentMenu box boxBasic backgroundBasic">
                    <div class="boxBody pan">
                        <ul class="componentList listBorderedHover">
                            <% blocks.each do |block| %>
                            <li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main col cols20 lastCol">